.comment-respond {
    background-color: rgba(216, 244, 255, 1);
}

.site-footer .sidebar-container {
    background-color: black;
}

.navbar {
    background-color: $opac-blu;
}

.widget {
    background-color: $opac-blu;
    border-radius: 3px;
}

.site-footer {
    background-color: $opac-blu;
}
